In [1]:
import pandas as pd

In [9]:
Purchase_behaviour = pd.read_csv("C:/Users/ADMIN/Documents/My projects/Behind_The_Basket/QVI_purchase_behaviour.csv")

In [10]:
Transaction_Data = pd.read_excel("C:/Users/ADMIN/Documents/My projects/Behind_The_Basket/QVI_transaction_data.xlsx")

In [23]:
print(f"Purchase behaviour data's shape is: {Purchase_behaviour.shape}")
Purchase_behaviour.head()

Purchase behaviour data's shape is: (72637, 3)

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [22]:
print(f"Transaction data's shape is: {Transaction_Data.shape}")
Transaction_Data.head()

Transaction data's shape is: (264836, 8)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

# Data Cleaning

## Checking if the data types are correct

In [28]:
print(Purchase_behaviour.dtypes)

print(Transaction_Data.dtypes)

LYLTY_CARD_NBR       int64
LIFESTAGE           object
PREMIUM_CUSTOMER    object
dtype: object
DATE                int64
STORE_NBR           int64
LYLTY_CARD_NBR      int64
TXN_ID              int64
PROD_NBR            int64
PROD_NAME          object
PROD_QTY            int64
TOT_SALES         float64
dtype: object

## Checking for missing entries

In [32]:
Purchase_behaviour.isnull().sum()

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [33]:
Transaction_Data.isnull().sum()

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

## Checking for duplicates
There is one duplicate in the Transaction data

In [38]:
print(f"There are {Purchase_behaviour.duplicated().sum()} duplicates in the purchase behaviour data")
print(f"There are {Transaction_Data.duplicated().sum()} duplicates in the Transaction data")

There are 0 duplicates in the purchase behaviour data
There are 1 duplicates in the Transaction data

In [ ]:
duplicated_rows = Transaction_Data[Transaction_Data.duplicated()]
duplicated_rows

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
124845,43374,107,107024,108462,45,Smiths Thinly Cut Roast Chicken 175g,2,6.0

In [45]:
Transaction_Data[Transaction_Data['LYLTY_CARD_NBR']=='107024']

Empty DataFrame
Columns: [DATE, STORE_NBR, LYLTY_CARD_NBR, TXN_ID, PROD_NBR, PROD_NAME, PROD_QTY, TOT_SALES]
Index: []